* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: 240;
  --secundary-color: 194;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;

  font-family: 'Roboto', sans-serif;
  font-size: 13rem;
  line-height: 14.8rem;
  color: hsla(var(--primary-color), 6%, 21%, 1);
  ;

  display: grid;
  justify-content: center;
  align-items: center;
}

main {
  width: 82rem;

  display: flex;
  justify-content: space-between;
}

.settings {
  width: 33rem;
  
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.timer {
  justify-content: space-around;
  align-self: end;

  display: flex;
  flex-direction: row;
  gap: 0rem;

  opacity: 0;
  animation: opacity 1100ms 300ms ease forwards;
}

.controls {
  justify-content: space-around;
  align-self: flex-start;

  display: flex;
  flex-direction: row;
  gap: 4rem;

  opacity: 0;
  animation: opacity 1100ms 700ms ease forwards;
}

.controls button {
  width: 4.8rem;
  height: 4.8rem;

  background-color: rgba(3, 3, 3, 0);
  border: none;
}
.controls button:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.sounds {
  display: grid;
  grid-template-areas: 
  "p p"
  "forest rain"
  "cafe fire";
  gap: 3.2rem;

  opacity: 0;
  animation: leftRight 1100ms 300ms ease forwards;
}
.instructions {
  grid-area: p;
  max-width: 33rem;

  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
}

.sounds button {
  width: 13.8rem;
  height: 15.2em;
  
  border: none;
  border-radius: 2.4rem;

  transition: all 300ms ease;

  display: grid;
  gap: 3.2rem;
  justify-items: center;
  align-content: center;
}

.sounds button:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.forest {
  grid-area: forest;  
  
  background-color: hsla(var(--primary-color), 9%, 89%, 1);
}
.rain {
  grid-area: rain;

  background-color: hsla(var(--primary-color), 9%, 89%, 1);
}
.cafe {
  grid-area: cafe;

  background-color: hsla(var(--primary-color), 9%, 89%, 1);
}
.fire {
  grid-area: fire;

  background-color: hsla(var(--primary-color), 9%, 89%, 1);
}


@keyframes opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes leftRight {
  0% {
      opacity: 0;
      transform: translateX(-120px);
  }
  100% {
      opacity: 1;
      transform: translateX(0px);
  }
}

.selected {
  background: hsla(194, 97%, 31%, 1);
}
.selectedSVG {
  fill: white;
}

input {
  -webkit-appearance: none;    
  width: 9rem;
  height: 0.4rem;
  background: #323238;
}

.sun {
  position: absolute;
  right: 4rem;
  top: 4rem;
}
.sun:hover {
  cursor: pointer;
}
.moon {
  position: absolute;
  right: 4rem;
  top: 4rem;
}
.moon:hover {
  cursor: pointer;
}

.bodyDark {
  background-color: black;
}

.textColorDark {
  color: white;
}

.inputDark {
  background: white;
}

.SVGDark {
  fill: #C4C4CC;
}

.buttonDark {
  background: #29292E;
}

.selectedDark {
  background: #0A3442;
}

input:hover {
  cursor: pointer;
  
}

@media (max-width: 1000px) {
  body {
      height: 100vh;
      padding-bottom: 3rem;
  }
  main {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 50rem;
      min-width: 35rem;
      margin: 6rem auto 3rem;
  }

  .moon, .sun {
      top: 2rem;
      right: 0;
      left: 0;
      margin: auto
  }
}